USE [master]
GO
/****** Object:  Database [J2]    Script Date: 10/10/2016 1:02:16 AM ******/
CREATE DATABASE [J2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\J2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\J2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J2]
GO
/****** Object:  Table [dbo].[tbEmployee]    Script Date: 10/10/2016 1:02:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbEmployee](
	[id] [varchar](5) NOT NULL,
	[fullname] [varchar](30) NOT NULL,
	[gender] [bit] NOT NULL,
	[salary] [int] NOT NULL,
 CONSTRAINT [PK_tbEmployee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
